*{
    margin:auto;
    padding:0;
    box-sizing: border-box;
}

a, a ::after {
    color:white;
    text-decoration: none;
}

body{
    font-family: 'Roboto Condensed', sans-serif;;
    background-color: rgb(20,20,20);
    color: white;
}

.top{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 10px;
    text-align: center;
}

.page-identifier{
    position: fixed;
    right: 0;
    top: 0;
    font-size: 300%;
    color: white;
    opacity: 40%;
    margin-right: 15px;    
}

.return-button-container{
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgba(116, 116, 116, 0.274);
    padding: 10px;
    border-radius: 10px;
    z-index: 5;
}

.return-id-button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    word-spacing: 5px;
}

.bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.maincontent{
    display: flex;
    align-items: center;
    max-width: 100%;
}

.logocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo{
    text-align: center;
    display: flex;
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 125px;
}

.navbar{
    margin: auto;
    display:flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    padding: 10px;
    width: 550px;
}

.navbar-iconcontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.profilebutton{
    display: flex;
    background-color: plum;
    color: white;
    border-radius: 3px;
    height: 55px;
    width: 55px;
    font-size: 40px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.profilebutton:hover{
    outline: white solid 3px;
}

.heading{
    font-size: 40px;
    margin-bottom: 20px;
}

.profile-main-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.profile-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}
.profiles-container{
    display: flex;
    width: 80%;
    height: 55%;
    margin-top: 20vh;
    margin-bottom: 0;
}

.profiles-button-container{
    display: flex;
    width: 80%;
    height: 20%;
}

.profile-signout-button{
    display: flex;
    background-color: rgba(255, 255, 255, 0.288);
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    width: 150px;
    height: 75px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    border-style: none;
    cursor: pointer;
}

.profiles-container .profilepage-profilebutton1, .profilepage-profilebutton2, .profilepage-profilebutton3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.profilepage-profilebutton1{
    background-color: purple;
}

.profilepage-profilebutton2{
    background-color: green;
}

.profilepage-profilebutton3{
    background-color: darkblue;
}

.profile-divider{
    height: 60%;
    width: 5px;
    background-color: white;
    border-radius: 3px;
    opacity: 50%;
}

.accounticon{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 250px;
    width: 250px;
    font-size: 150px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.account-icon-text{
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-icon-text{
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homebutton{
    display: flex;
    background-color: rgb(0, 81, 255);
    color: white;
    border-radius: 3px;
    height: 55px;
    width: 55px;
    font-size: 40px;
    flex: 1;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.homebutton:hover{
    outline: white solid 3px;
}

.watchlistbutton{
    display: flex;
    color: white;
    background-color: darkslateblue;
    border-radius: 3px;
    height: 55px;
    width: 55px;
    font-size: 40px;
    flex: 1;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.watchlistbutton:hover{
    outline: white solid 3px;
}

.searchbutton{
    display: flex;
    color: white;
    background-color: darkblue;
    border-radius: 3px;
    height: 55px;
    width: 200px;
    font-size: 25px;
    margin-left: 10px;
}

.searchbutton input{
    background-color: transparent;
    width: 80%;
    color: white;
}

.searchbutton input:focus{
    border: none;
    outline: none;
}

.searchbutton input:hover{
    cursor: pointer;
}

.searchbutton:hover{
    outline: white solid 3px;
}

.searchbutton input::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ffffff' d='M4 2.344L1.344 0 0 1.344 2.656 4 0 6.656 1.344 8 4 5.344 6.656 8 8 6.656 5.344 4 8 1.344 6.656 0 4 2.344z'/%3E%3C/svg%3E");
    cursor: pointer;
}

.helpbutton{
    display: flex;
    color: white;
    background-color: darkolivegreen;
    border-radius: 3px;
    height: 55px;
    width: 55px;
    font-size: 40px;
    flex: 1;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.helpbutton:hover{
    outline: white solid 3px;
}

.settingsbutton{
    display: flex;
    color: white;
    background-color: grey;
    border-radius: 3px;
    height: 55px;
    width: 55px;
    font-size: 40px;
    flex: 1;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.settingsbutton:hover{
    outline: white solid 3px;
}

.container{
    background-color: rgb(32, 32, 32);
    height: 100vh;
}

.movie-list-container{
    margin-top: 13vh;
    max-width: 100%;
    z-index: 1;
}

.movie-list-title{
    color:white;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 5px;
    z-index: -1;
}

.movie-list-wrapper{
    display: flex;
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 30px;
    background-color: #0000006e;
}

.movie-list-item{
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
}

.movie-list-item:hover .movie-thumbnail{
    transition: 0.3s ease-in;
    transform: scale(0.95);
    cursor: pointer;
}

.movie-thumbnail{
    transition: 1s ease-out;
    width: 325px;
    border-radius: 15px;
}

.welcome-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-page-actions{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-button{
    height: 50px;
    width: 100px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    outline:none;
    border-style: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.create-account-prompt{
    cursor: pointer;
    font-size: 10px;
    text-decoration: none;
}

.help-content-grid{
    display: grid;
    position: relative;
    top: 150px;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(4, 180px);
    grid-gap: 20px 50px;
    justify-content: center;
}

.helpitem{
    background-color: rgba(0, 0, 0, 0.459);
    height: 180px;
    width: 500px;
    display: flex;
    border-radius: 15px;
}

.help-item-icon{
    padding: 25px;
    font-size: 50;
}

.help-item-text{
    padding: 10px;
}

.add-to-watchlist-btn {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

.form-item{
    display: flex;
    width: 500px;
    margin-bottom: 30px;
}

input {
    background-color: #0000006e;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 30px;
    color: rgba(255, 255, 255, 0.671);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

input:focus {
    border: 2px solid white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #0000006e inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.671) !important;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #0000006e inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.671) !important;
}

label{
    font-size: 25px;
    margin-right: 20px;
}

button[type="submit"] {
    transition: ease-out;
    background-color: rgba(255, 255, 255, 0.411);
    color: white;
    margin-top: 50px;
    padding: 5px 10px;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.575);
    transition: ease-in 0.5s;
    font-size: 30px;
}

